<h1>Listado de {{listaProductos.length}} productos</h1>

{{#each listaProductos}}
<div class="producto" style="font-weight:bold;">
    <p>Nombre: {{this.nombre}}</p>
    <p>Descripcion: {{this.descripcion}}</p>
    <p>Precio: {{this.precio}}</p>
    <img class="imagen" src="img/{{this.imagen}}" style="width: 200px">
    <br>
    <br>
</div>
{{/each}}