<h1>Listado de {{listaProductos.length}} productos</h1>

{{#each listaProductos}}
<div class="producto">
    <p>Nombre: {{this.nombre}}</p>
    <p>Descripcion: {{this.descripcion}}</p>
    <p>Imagen: {{this.imagen}}</p>
    <p>Precio: {{this.precio}}</p>
    <img class="imagen" src="img/{{this.imagen}}">
</div>
{{/each}}